/* admin-dashboard.component.css */
.dashboard-container {
    width: 100%;
    padding: 20px;
  }
  
  .dashboard-navbar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .dashboard-navbar button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  /* Custom footer styles */
footer {
  background-color: #343a40;
  color: white;
  padding: 2px;
  text-align: center;
}

footer a {
  color: #11d038ac;
  text-decoration: none;
}

footer a:hover {
  color: #f8f9fa;
}

footer p {
  margin: 0;
}

.footer-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1rem;
}

.footer-icons a:hover {
  color: #11d038ac;
}

.contact-info {
  text-align: left; 
  margin-top: 10px; 
}

.contact-title {
  padding: 0 25%;
  border-bottom: 2px solid; 
  margin-bottom: 10px; 
}

